app = "yolov8n-tflite"

[build]
  builder = "paketobuildpacks/builder:base"

[env]
  ENABLE_BROKER = "0"

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0

[http_service.concurrency]
  type = "requests"
  soft_limit = 20
  hard_limit = 30
